*{
    box-sizing: border-box;
    margin: 0;
}

.topo{
   background-color: aqua;
   padding: 20px;
   text-align: center;
}

.menu{
    background-color: rgb(4, 82, 56);
    overflow: hidden;
}

.menu a{
    color: aliceblue;
    padding: 14px 16px;
    float: left;
    display: block;
    text-decoration: none;
}

.coluna-50{
    float: left;
    width: 50%;
    padding: 15px;
}


